#textImg { 
    position: relative;
    width:80vh;
    height:80vh;
}

#textImg > span {
    position:absolute;
    width:1%;
    height:1%;
    font-size:15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}